html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.search-bar{
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
}


/*home*/


.banner{
  background-color: red;
  color: white;
  height: 15vh;
  margin: 1.7rem;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-1{
  margin-top: 5%;
  margin-bottom: 1px;
  font-weight: 600;
}